@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url("../fonts/montserrat-400.woff2") format("woff2"),
  url("../fonts/montserrat-400.woff") format("woff"),
  url("../fonts/montserrat-400.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url("../fonts/montserrat-500.woff2") format("woff2"),
  url("../fonts/montserrat-500.woff") format("woff"),
  url("../fonts/montserrat-500.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat Semibold'), local('Montserrat-Semibold'),
  url("../fonts/montserrat-600.woff2") format("woff2"),
  url("../fonts/montserrat-600.woff") format("woff"),
  url("../fonts/montserrat-600.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url("../fonts/montserrat-700.woff2") format("woff2"),
  url("../fonts/montserrat-700.woff") format("woff"),
  url("../fonts/montserrat-700.ttf") format("ttf");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  /*css - переменные*/
  --white: #ffffff;
  --black: #000000;
  --black-opacity: 0, 0, 0;
  --main: #ff153e;
  --main-hover: #b8122d;
  --dark: #333333;
  --gray-dark: #727272;
  --gray-middle: #e0e0e0;
  --gray-light: #f1f1f1;
  --red: #b8122d;
  --green: #00923f;
}
/* применение var(--white); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

[data-empty]:empty {
  position: relative;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
}

[data-empty]:empty:after {
  content: attr(data-empty);
}

.body__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../img/main-background.jpg") var(--gray-middle) center;
  font-family: "Montserrat", "Arial", sans-serif;
}

.main {
  font-size: 14px;
  line-height: 20px;
  color: var(--dark);
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-grow: 1;
}

.main__container {
  display: flex;
}

.container {
  width: 1740px;
  padding: 0 30px;
  margin: 0 auto;
}

.mrg-btm {
  margin-bottom: 80px;
}

.main-content {
  display: flex;
  width: 100%;
  margin: 0 0 40px 0;
}

.content {
  flex-grow: 1;
}

.sidebar {
  width: 474px;
  flex-shrink: 0;
  background-color: var(--main-hover);
  margin: 0 0 0 76px;
}

.header__container {
  padding: 15px 0 25px 0;
}

.header__top {
  background-color: var(--white);
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  box-shadow:
    0 5px 25px 0 rgba(var(--black-opacity), 0.1),
    0 0 10px 0 rgba(var(--black-opacity), 0.05);
}

.footer {
  background-color: var(--dark);
  padding: 50px 0;
  color: var(--white);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px
}

.footer__menu-link {
  color: var(--white);
  display: block;
  max-width: 150px;
  line-height: 32px;
  padding: 0 5px;
}

.footer__socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.footer__socials .socials__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 20px ;
}

.news__link {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  height: 100%;
  transition: 0.3s;
}

.news__link:hover {
  box-shadow:
    0 5px 25px 0 rgba(var(--black-opacity), 0.1),
    0 0 10px 0 rgba(var(--black-opacity), 0.05);
  transition: 0.3s;
}

.news__content {
  padding: 10px;
}

.news__img {
  display: block;
  border-radius: 10px 10px 5px 5px;
}

.news__date {
  color: var(--main);
  margin: 0 0 10px 0;
  font-weight: 500;
}

.news__title {
  font-weight: 500;
}

.banner,
.banner__img {
  display: block;
}

.banner__img {
  border-radius: 10px;
  box-shadow:
    0 5px 25px 0 rgba(var(--black-opacity), 0.1),
    0 0 10px 0 rgba(var(--black-opacity), 0.05);
}

.partners__title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 40px 0;
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 200px;
}

.partners__link,
.partners__img {
  display: block;
}

.partners__link {
  padding: 20px;
}

/* Слайдер */

.slider {
  margin: 0 0 20px 0;
  color: var(--white);
  position: relative;
}

.slider__item {
  position: relative;
}

.slider__picture {
  position: relative;
  border-radius: 10px;
}

.slider__picture:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 500px rgba(var(--black-opacity), 0.4) inset;
  border-radius: 10px;
}

.slider__picture:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, var(--black), rgba(var(--black-opacity), 0.1) 74%, transparent);
  border-radius: 10px;
}

.slider__img {
  display: block;
  border-radius: 10px;
}

.slider__content {
  position: absolute;
  bottom: 110px;
  left: 0;
  padding: 0 40px;
}

.slider__top {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}

.slider__heading {
  font-size: 36px;
  line-height: 46px;
  margin: 0 30px 0 0;
  font-weight: 600;
}

.slider__link {
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 3px 14px;
  border-radius: 60px;
  background-color: var(--main);
  transition: 0.3s;
}

.slider__link:hover {
  background-color: var(--main-hover);
  transition: 0.3s;
}

.slider__link-icon {
  margin: 0 0 0 12px;
}

.slider__date {
  font-weight: 600;
  color: var(--main);
  margin: 0 0 16px 0;
}

.slider__title {
  display: block;
  color: var(--white);
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  max-width: 500px;
}

.slider__navigation {
  display: grid;
  grid-template-columns: repeat(2, 26px);
  column-gap: 12px;
  position: absolute;
  bottom: 60px;
  left: 40px;
}

.slider__arrow--left {
  transform: scale(-1, 1);
}

.slider__arrow {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--main);
  cursor: pointer;
  transition: 0.3s;
}

.slider__arrow:hover {
  background-color: var(--main);
  transition: 0.3s;
}

.slider__arrow-icon {
  fill: var(--main);
  transition: 0.3s;
}

.slider__arrow:hover .slider__arrow-icon {
  fill: var(--black);
  transition: 0.3s;
}
